

    .container {
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    a.login-link {
        color: rgb(255, 255, 255);
    }

    a:hover {
        background-color: #0056b3;
    }
                .img {
                    height: 20vh;
                    width: 10vw;
                    margin-bottom: 30px;
                }