<div class="col-12 mt-5 ">
  <div class="d-flex justify-content-around">
    <button class="btn btn-primary fw-bold mb-3" (click)="openAdd(AjouterModal)">Add New Employe</button>
    <span><!--size :{{pageSize}} screen :{{screenWidth}}--></span>
    <div class="search-bar w-25">
      <form #searchFrom="ngForm" class="search-form d-flex align-items-center"
        (ngSubmit)="handleGoToPage(searchFrom.value.name)">


        <input type="text" name="name" placeholder="Search" ngModel>
        <button type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->
  </div>
  <div class="card me-3">
    <div class="card-body table-responsive-xl pb-0">
      <table class="table table-hover table-striped">
        <thead>
          <th class="pb-2 pt-0 ">CNI</th>
          <th class="pb-2 pt-0">First Name</th>
          <th class="pb-2 pt-0">Last Name</th>
          <th class="pb-2 pt-0">Goal</th>
          <th class="pb-2 pt-0">Reach</th>
          <th class="pb-2 pt-0">Prod.</th>
          <th class="pb-2 pt-0">Birthdate</th>
          <th class="pb-2 pt-0">Retirement</th>
          <th class="pb-2 pt-0">Update</th>
          <th class="pb-2 pt-0">Delete</th>
        </thead>
        <tbody *ngIf="employes.length === 0">
          <td colspan="20" class="alert alert-info text-center rounded-4 border-0">No Records found ...!</td>
        </tbody>
        <tbody>
          <tr class="align-middle" *ngFor="let e of employes">
            <td class="px-1">{{e.cni}}</td>
            <td class="px-1">{{e.lastname}}</td>
            <td class="px-1">{{e.firstname}}</td>
            <td class="px-1">{{e.objectif}}</td>
            <td class="px-1">{{e.rendement}}</td>
            <td class="px-1">{{e.atteint}}%</td>
            <td class="px-1">{{formatDate(e.birthDate)}}</td>
            <td class="px-1">{{formatDate(e.retraite)}}</td>
            <td><button class="btn btn-success" (click)="openEdit(modifierEmployee, e.id)"><i
                  class="bi bi-pencil"></i></button></td>
            <td><button class="btn btn-danger" (click)="supprimerEmploye(e.id)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="20" class="text-center">
            <nav aria-label="Page navigation example" class="mt-2 pb-0">
              <ul class="pagination justify-content-center">
                <li class="page-item m-1" [class.disabled]="currentPage == 1">
                  <button (click)="handlePrevious()" class="page-link btn" aria-label="Previous">
                    <span style="color: #0080ff; font-weight:600;" aria-hidden="true">&laquo; Previous</span>
                  </button>
                </li>
                <li *ngFor="let Page of [].constructor(totalPages); let i = index;" class="page-item">
                  <button [ngClass]="currentPage==(i+1)?'btn btn-primary m-1':'page-link btn m-1'"
                    (click)="handleGoToPage('',i+1)">
                    {{ i + 1 }}
                  </button>
                </li>
                <li class="page-item m-1" [class.disabled]="currentPage == totalPages">
                  <button (click)="handleNext()" class="page-link btn" aria-label="Next">
                    <span style="color: #0080ff; font-weight:600;" aria-hidden="true">Next &raquo;</span>
                  </button>
                </li>
              </ul>
            </nav>
          </td>
        </tfoot>
      </table>
    </div>
  </div>

</div>



<!-- ajouter Modal -->
<ng-template #AjouterModal let-modal>
  <div class="modal-header pb-0">
    <h4 class="modal-title" id="ajouter-modal-title">Ajouter</h4>
  </div>
  <form (submit)="ajouterEmploye()" [formGroup]="employeForm" class="px-3">
    <div class="row mb-2">
      <label for="cni" class="col-2 col-form-label fs-6 mt-2">Card Id</label>
      <div class="col-sm-10 mt-1">
        <input type="text" formControlName="cni" class="form-control" id="cni" name="cni" required>
        <div *ngIf="employeForm.get('cni')?.invalid && employeForm.get('cni')?.touched || employeForm.get('cni')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('cni')?.getError('required')">Card Id is required</div>
          <div *ngIf="employeForm.get('cni')?.getError('minlength')">It requires 6 caracters at least</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="lastname" class="col-2 col-form-label fs-6 mt-2">Last name</label>
      <div class="col-10">
        <input type="text" formControlName="lastname" class="form-control" id="lastname" name="lastname" required>
        <div
          *ngIf="employeForm.get('lastname')?.invalid && employeForm.get('lastname')?.touched || employeForm.get('lastname')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('lastname')?.getError('required')">Last name is required</div>
          <div *ngIf="employeForm.get('lastname')?.getError('minlength')">It requires 4 caracters at least</div>
        </div>
      </div>

    </div>
    <div class="row mb-2">
      <label for="firstname" class="col-2 col-form-label fs-6 mt-2">First name</label>
      <div class="col-10">
        <input type="text" formControlName="firstname" class="form-control" id="firstname" name="firstname" required>
        <div
          *ngIf="employeForm.get('firstname')?.invalid && employeForm.get('firstname')?.touched || employeForm.get('firstname')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('firstname')?.getError('required')">First name is required</div>
          <div *ngIf="employeForm.get('firstname')?.getError('minlength')">It requires 4 caracters at least</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="email" class="col-2 col-form-label fs-6 mt-2">Email</label>
      <div class="col-10">
        <input type="email" formControlName="email" class="form-control" id="email" name="email" required>
        <div
          *ngIf="employeForm.get('email')?.invalid && employeForm.get('email')?.touched || employeForm.get('email')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('email')?.getError('required')">Email is required</div>
          <div *ngIf="employeForm.get('email')?.getError('email')">invalid email</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="birthDate" class="col-2 col-form-label fs-6 mt-2">Birthdate</label>
      <div class="col-10">
        <input type="date" formControlName="birthDate" class="form-control" id="birthDate" name="birthDate" required>
        <div
          *ngIf="employeForm.get('birthDate')?.invalid && employeForm.get('birthDate')?.touched || employeForm.get('birthDate')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('birthDate')?.getError('required')">Birthdate is required</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="rendement" class="col-2 col-form-label fs-6 mt-2">Production</label>
      <div class="col-10">
        <input type="number" formControlName="rendement" class="form-control" id="rendement" name="rendement" required>
        <div
          *ngIf="employeForm.get('rendement')?.invalid && employeForm.get('rendement')?.touched || employeForm.get('rendement')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('rendement')?.getError('required')">Production field is required</div>
          <div *ngIf="employeForm.get('rendement')?.getError('rendementValidation')">Set a positive number</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="objectif" class="col-2 col-form-label fs-6 mt-2">Goal</label>
      <div class="col-10">
        <input type="number" formControlName="objectif" class="form-control" id="objectif" name="objectif" required>
        <div
          *ngIf="employeForm.get('objectif')?.invalid && employeForm.get('objectif')?.touched || employeForm.get('objectif')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('objectif')?.getError('required')">Set the Goal</div>
          <div *ngIf="employeForm.get('objectif')?.getError('objectifPositif')">Set a positive number</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="!employeForm.valid">Save</button>
    </div>
  </form>
</ng-template>

<!-- modal Modification -->

<ng-template #modifierEmployee let-modal>
  <div class="modal-header pb-0">
    <h4 class="modal-title" id="ajouter-modal-title">Ajouter</h4>
  </div>
  <form (submit)="modifierEmploye()" [formGroup]="editEmployeForm" class="px-3">
    <div class="row mb-2">
      <label for="cni" class="col-2 col-form-label fs-6 mt-2">Card Id</label>
      <div class="col-sm-10 mt-1">
        <input type="text" formControlName="cni" class="form-control" id="cni" name="cni" required>
        <div *ngIf="employeForm.get('cni')?.invalid && employeForm.get('cni')?.touched || employeForm.get('cni')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('cni')?.getError('required')">Card Id is required</div>
          <div *ngIf="employeForm.get('cni')?.getError('minlength')">It requires 6 caracters at least</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="lastname" class="col-2 col-form-label fs-6 mt-2">Last name</label>
      <div class="col-10">
        <input type="text" formControlName="lastname" class="form-control" id="lastname" name="lastname" required>
        <div
          *ngIf="employeForm.get('lastname')?.invalid && employeForm.get('lastname')?.touched || employeForm.get('lastname')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('lastname')?.getError('required')">Last name is required</div>
          <div *ngIf="employeForm.get('lastname')?.getError('minlength')">It requires 4 caracters at least</div>
        </div>
      </div>

    </div>
    <div class="row mb-2">
      <label for="firstname" class="col-2 col-form-label fs-6 mt-2">First name</label>
      <div class="col-10">
        <input type="text" formControlName="firstname" class="form-control" id="firstname" name="firstname" required>
        <div
          *ngIf="employeForm.get('firstname')?.invalid && employeForm.get('firstname')?.touched || employeForm.get('firstname')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('firstname')?.getError('required')">First name is required</div>
          <div *ngIf="employeForm.get('firstname')?.getError('minlength')">It requires 4 caracters at least</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="email" class="col-2 col-form-label fs-6 mt-2">Email</label>
      <div class="col-10">
        <input type="email" formControlName="email" class="form-control" id="email" name="email" required>
        <div
          *ngIf="employeForm.get('email')?.invalid && employeForm.get('email')?.touched || employeForm.get('email')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('email')?.getError('required')">Email is required</div>
          <div *ngIf="employeForm.get('email')?.getError('email')">invalid email</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="birthDate" class="col-2 col-form-label fs-6 mt-2">Birthdate</label>
      <div class="col-10">
        <input type="date" formControlName="birthDate" class="form-control" id="birthDate" name="birthDate" required>
        <div
          *ngIf="employeForm.get('birthDate')?.invalid && employeForm.get('birthDate')?.touched || employeForm.get('birthDate')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('birthDate')?.getError('required')">Birthdate is required</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="rendement" class="col-2 col-form-label fs-6 mt-2">Production</label>
      <div class="col-10">
        <input type="number" formControlName="rendement" class="form-control" id="rendement" name="rendement" required>
        <div
          *ngIf="employeForm.get('rendement')?.invalid && employeForm.get('rendement')?.touched || employeForm.get('rendement')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('rendement')?.getError('required')">Set the Goal</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="objectif" class="col-2 col-form-label fs-6 mt-2">Goal</label>
      <div class="col-10">
        <input type="number" formControlName="objectif" class="form-control" id="objectif" name="objectif" required>
        <div
          *ngIf="employeForm.get('objectif')?.invalid && employeForm.get('objectif')?.touched || employeForm.get('objectif')?.dirty"
          style="color: red;">
          <div *ngIf="employeForm.get('objectif')?.getError('required')">Set the Goal</div>
          <div *ngIf="employeForm.get('objectif')?.getError('objectifPositif')">Set a positive number</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="!editEmployeForm.valid" (click)="modal.close('Close click')">Save</button>
    </div>
  </form>
</ng-template>