<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div >
    <a href="/" class="logo">
      <img src="../assets/images/Rectangle 9.png" alt="">
    </a>
  </div><!-- End Logo -->
<!--
  <div *ngIf="loggedIn" class="search-bar mt-3 " style="margin-left: auto;">

    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div>
  -->

  <nav class="header-nav ms-auto">
    <!-- logout -->
    <div *ngIf="!loggedIn" id="login-oncf" class="nav-item">
      <a id="login-oncf" routerLink="/login">login</a>
    </div>


    <!-- login -->
    <ul *ngIf="loggedIn" class="d-flex align-items-center">

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-danger badge-number">{{ employes.length }}</span>
        </a><!-- End Notification Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">

          <li *ngFor="let e of employes.slice(0, 3)" class="notification-item">
            <i class="bi bi-info-circle text-danger"></i>
            <div>
              <h4>{{ e.firstname }} {{ e.lastname }}</h4>
              <p>contrat va terminer le <span class="fw-bold">{{ formatDate(e.retraite) }}</span> </p>
              <p class="text-danger">{{ timeLeftValue(e.retraite) }}</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <div class="text-center">
            <a class="link-primary" routerLink="/dashboard/contrat">Show All</a>
          </div>
        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img [src]="retrievedImage" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Y. Dlimi </span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Yassine Dlimi</h6>
            <span>Manager</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/dashboard/profile/{{tokenInfos.sub}}"
              routerLinkActive="router-link-active">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" (click)="handleLogout()">
              <i class="bi bi-box-arrow-right"></i>

              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header>
