#navbar{
  min-height: 10vh;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
      /* Set the background color of the navbar */
      padding: 10px;
      /* Add some padding for better visibility of the shadow */

}
#navbar input {
  width: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#img-oncf{
  left: 20px;
  bottom: 10px;
  position: absolute;
}

#login-oncf{
  text-decoration: dashed;
  color: black;
  font-weight: bold;

}
#logout-oncf {
  text-decoration: dashed;
  color: black;
  font-weight: bold;
}

#search{

  position: absolute;
  left: 400px;

}
.bi-person-circle{
   margin-left: 6px;
}

.row{
  position: absolute;
  left: 1150px;
}
