<div class="conatianer-fluid mt-4">
    <div class="pagetitle ms-4">
        <h1 class="mb-0 fw-bold ">Quiz</h1>
        <nav class="mt-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Gestion de carriere</li>
            </ol>
        </nav>
    </div>

    <div class="d-grid">

        <div class="ms-5 d-flex justify-content-between col-10">
            <div>
                <button class="btn m-1 btn-primary" (click)="openAddXl(content)">Add new question</button>
                <button class="btn m-1 btn-danger" (click)="openConfirmationModal(deleteAll)">Delete all</button>
                <button class="btn m-1 btn-secondary" routerLink="/quiz-employe">Preview</button>
            </div>
            <div class="form-check form-switch me-5">
                <input class="form-check-input" style="width: 4vw; height: 5vh;" type="checkbox"
                    id="flexSwitchCheckDefault" [(ngModel)]="quizStatus" (change)="onToggleQuizStatus()">
                <label class="form-check-label fw-bold ms-2 position-relative" for="flexSwitchCheckDefault"
                    style="height: 7vh;">
                    <span class="position-absolute translate-middle top-50 start-50 ms-2 pb-1 w-50 text-nowrap">
                        {{ quizStatus ? 'Enabled' : 'Disabled' }}
                    </span>
                </label>
            </div>

        </div>
        <div class="row justify-content-center">
            <div ngbAccordion #accordion="ngbAccordion" class="col-11">

                <div ngbAccordionItem *ngFor="let quiz of Quiz; let i = index;" class="m-1 shadow-sm">
                    <h2 ngbAccordionHeader>
                        <button class="pb-0" style="font-weight: 500;" ngbAccordionButton>Question {{ i + 1 }}</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template class="table-responsive-md">
                                <div class="d-grid gap-3">
                                    <div>
                                        <button class="btn btn-sm m-2 btn-success"
                                            (click)="openXl(editQuizModal,quiz.id)">Edit</button>
                                        <button class="btn btn-sm btn-danger"
                                            (click)="deleteQuizById(quiz.id)">Delete</button>
                                    </div>
                                    <div>
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <th class="ps-2">Question</th>
                                                <th class="ps-2 text-nowrap">Reponse 1</th>
                                                <th class="ps-2 text-nowrap">Reponse 2</th>
                                                <th class="ps-2 text-nowrap">Reponse 3</th>
                                                <th class="ps-2 text-nowrap">Reponse 4<!-- <span
                                                        class="badge badge-number p-1 text-white align-bottom"
                                                        style="font-size: 0.7em;background-color: #adb5bd;">4 pts</span>
                                                --></th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-wrap">{{ quiz.question }}</td>
                                                    <td class="text-wrap">{{ quiz.option1 }}</td>
                                                    <td class="text-wrap">{{ quiz.option2 }}</td>
                                                    <td class="text-wrap">{{ quiz.option3 }}</td>
                                                    <td class="text-wrap">{{ quiz.option4 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </ng-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!--------------------------------------     Add Quiz Modal      ----------------------------------->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add new question</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="addNewQuiz()" [formGroup]="NewQuizForm">
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="question" class="col-1 col-form-label" style="font-weight: 500;">Question</label>
                <div class="col-sm-11">
                    <input type="text" formControlName="question" class="form-control border-2" id="question" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option1" class="col-2 col-form-label" style="font-weight: 500;">
                    Option 1
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        1 point
                    </span>
                </label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option1" class="form-control border-2" id="option1" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option2" class="col-2 col-form-label" style="font-weight: 500;">Option 2
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        2 points
                    </span></label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option2" class="form-control border-2" id="option2" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option3" class="col-2 col-form-label" style="font-weight: 500;">Option 3
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        3 points
                    </span></label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option3" class="form-control border-2" id="option3" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option4" class="col-2 col-form-label" style="font-weight: 500;">Option 4
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        4 points
                    </span></label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option4" class="form-control border-2" id="option4" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" value="submit" [disabled]="!NewQuizForm.valid"
                (click)="modal.close('Close click')">Add</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>


<!--------------------------------------     Edit Quiz Modal      ----------------------------------->

<ng-template #editQuizModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add new question</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="updateQuiz()" [formGroup]="updateQuizForm">
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="question" class="col-1 col-form-label" style="font-weight: 500;">Question</label>
                <div class="col-sm-11">
                    <input type="text" formControlName="question" class="form-control border-2" id="question" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option1" class="col-2 col-form-label" style="font-weight: 500;">
                    Option 1
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        1 point
                    </span>
                </label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option1" class="form-control border-2" id="option1" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option2" class="col-2 col-form-label" style="font-weight: 500;">Option 2
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        2 points
                    </span></label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option2" class="form-control border-2" id="option2" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option3" class="col-2 col-form-label" style="font-weight: 500;">Option 3
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        3 points
                    </span></label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option3" class="form-control border-2" id="option3" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="option4" class="col-2 col-form-label" style="font-weight: 500;">Option 4
                    <span class="badge badge-number bg-success ms-2 text-white align-bottom" style="font-size: 0.8em;">
                        4 points
                    </span></label>
                <div class="col-sm-10">
                    <input type="text" formControlName="option4" class="form-control border-2" id="option4" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" value="submit" [disabled]="!updateQuizForm.valid"
                (click)="modal.close('Close click')">Update</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>

<!--------------------------------  Confirmation modal before delete all  ----------------------------->

<ng-template #deleteAll let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Quiz deletion</h4>
        <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            <strong>Are you sure you want to delete this quiz?</strong>
        </p>
        <p>
            All information associated to this quiz will be permanently deleted.
        </p>
        <div class="text-danger">This operation can not be undone.</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <form (ngSubmit)="deleteAllQuizzes()">
            <button type="submit" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
        </form>
    </div>
</ng-template>