#navbar{
  min-height: 10vh;
  justify-content: space-between;
}

#img-oncf{
  left: 20px;
  bottom: 10px;
  position: absolute;
}

#login-oncf{
  text-decoration: none;
  color: black;
}


#div1{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 90vh;

}

#div2{
  min-height: 90vh;
}

.rect{
  width: 734px;
  height: 90vh;
}

button{
  height: 55px;
}
 input
{
  margin-top: 30px;
  height: 45px;
}
i{
  margin: 5px;
}

label{
  text-align: left;
}

a{
  color: black;
  margin: 4px;
}
h2.badge-style {
  display: inline-block;
  padding: 12px 24px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #000000;
  color: #e8e8e8;
  border-radius: 12px;
  margin-bottom: 10px;
}
.card-body {
  margin-top: 50px;
}