<app-navbar></app-navbar>

  <div class="container-fluid">
    <div class="row">
       <!-- login form -->
      <div class="col-sm-5" id="div1">
         <h1 class="item" style="color: red;">LOGIN</h1>
         <button class="item btn btn-danger"><i class="bi bi-google"></i>Sign With Google</button>
         <button class="item btn btn-dark"><i class="bi bi-apple"></i>Sign With Apple</button>
          <hr>
          <!-- <label for="email">Email</label> -->
         <input class="item" type="text" name="email" placeholder="Email">
         <!-- <label for="password">Password</label> -->
         <input class="item" type="password" name="password" placeholder="Password  ">
         <button class="item btn btn-dark">Sign In<i class="bi bi-arrow-right"></i></button>
         <h6 class="item">Not a member ?<a href="#">Create an account</a></h6>
      </div>
      <!-- login photo -->
      <div class="col-sm-7" id="div2">
          <img class="rect" src="/../assets/images/Rectangle 10.png" alt="" >
      </div>
    </div>
  </div>
