<app-navbar></app-navbar>

  <div class="container-fluid mt-5">
    <div class="row">
       <!-- login form -->
      <div class="col-6" id="div1">
        <div class="card-body">
          <h2 class="badge-style" >Login Page</h2>
          <form >
            <div class="mb-3">
              <input type="email" class="form-control" name="email" [(ngModel)]="loginObj.email"  placeholder="Email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" [(ngModel)]="loginObj.password"  placeholder="password">
            </div>
                  <!-- Display error message -->
                  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                    {{ errorMessage }}
                  </div>
            <button (click)="onLogin()" class="item btn btn-dark">Sign In<i class="bi bi-arrow-right"></i></button>
          </form>
          <h4><a (click)="forgetPassword()" class="item" routerLink="" >Forget password ?</a></h4>
          <h5 class="item">Not a member ?<a routerLink="/register">Create an account</a></h5> 
          <span class="vr"></span>
          
        </div>
      </div>
      <!-- login photo -->
      <div class="col-6" id="">
          <img class="" style="object-fit: cover; object-position: right; width: 48vw; height: 90vh;" src="/../assets/images/Rectangle 10.png" alt="" >
          
      </div>
    </div>
  </div>
