<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div>
    <a href="/" class="logo">
      <img src="../assets/images/Rectangle 9.png" alt="">
    </a>
  </div>

  <nav class="header-nav ms-auto">
    <div  id="login-oncf" class="nav-item">
      <a id="login-oncf" routerLink="/register">sign up</a>
    </div>
  </nav>

</header>


<div class="container-fluid mt-5">
  <div class="row">
    <!-- login form -->
    <div class="col-6" id="div1">
      <div class="card-body">
        <h2 class="badge-style"><strong>SIGN IN FORM</strong></h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="mb-3">
            <input type="email" class="form-control" formControlName="email" required name="email" placeholder="Email">
            <div
              *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched || loginForm.get('email')?.dirty">
              <ul>
                <li *ngIf="loginForm.get('email')?.getError('required')" class="text-danger fw-bold mt-2 "
                  style="text-align: left;">Email is required</li>
                <li *ngIf="loginForm.get('email')?.getError('email')" class="text-danger fw-bold mt-2 "
                  style="text-align: left;">Invalid email</li>
              </ul>
            </div>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" formControlName="password" required name="password"
              placeholder="password">
            <div
              *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched || loginForm.get('password')?.dirty">
              <ul>
                <li *ngIf="loginForm.get('password')?.getError('required')" class="text-danger fw-bold mt-2 "
                  style="text-align: left;">Password is required</li>
                <li *ngIf="loginForm.get('password')?.getError('minlength')" class="text-danger fw-bold mt-2 "
                  style="text-align: left;">Minimum : 4 caracters</li>
              </ul>
            </div>
          </div>
          <!-- Display error message -->
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
          <button class="item btn btn-dark">Sign In<i class="bi bi-arrow-right"></i></button>
        </form>
        <h4><a (click)="forgetPassword()" class="item" routerLink="">Forget password ?</a></h4>
        <h5 class="item">Not a member ?<a routerLink="/register">Create an account</a></h5>
        <span class="vr"></span>

      </div>
    </div>
    <!-- login photo -->
    <div class="col-6" id="">
      <img class="" style="object-fit: cover; object-position: right; width: 48vw; height: 90vh;"
        src="/../assets/images/Rectangle 10.png" alt="">

    </div>
  </div>
</div>