<body>
    <div class="container text-center">
        <p class="card bg-dark text-light py-1 rounded-2">Reset your password</p>
        <form (ngSubmit)="update()">
            <div class="mb-3 row">
                <label for="password" class="col-sm-4 col-form-label">Enter new password :</label>
                <div class="col-sm-8">
                    <input class="form-control" id="password" type="password" name="password"
                        [(ngModel)]="updatePwd.password">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="ppassword" class="col-sm-4 col-form-label">Confirm the password :</label>
                <div class="col-sm-8">
                    <input class="form-control" id="ppassword" type="password" name="newPassword"
                        [(ngModel)]="updatePwd.renewPassword">
                </div>
            </div>
            <div *ngIf="errorMesaage" class="alert alert-danger mb-3 row col-sm-12 align-center">
                <div class="align-center" >{{ errorMesaage }}</div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Send</button>
        </form>
    </div>
</body>