#navbar{
  min-height: 10vh;
  justify-content: space-between;
}

#img-oncf{
  left: 20px;
  bottom: 10px;
  position: absolute;
}

#login-oncf{
  text-decoration: none;
  color: black;
}

#div1{
  padding: 10px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 90vh;

}

#div2{
  min-height: 90vh;
}

.rect{
  width: 734px;
  height: 90vh;
}

a{
  color: black;
  margin: 4px;
}

input
{
  height: 35px;
}
/* Container holding the form */
.container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 16px;
 border: 1px solid #ccc;
 border-radius: 4px;
 background-color: #fefefe;
}

/* Style the input fields */
input[type=text], input[type=email], input[type=password], input[type=date] {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

/* Style the radio buttons */
.btn-check {
 position: absolute;
 clip: rect(0, 0, 0, 0);
 pointer-events: none;
}

.btn-check:checked + .btn-outline-secondary {
 background-color: #000000;
 color: white;
}

/* Style the submit button */
.item {
 background-color: #070707;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
 border-radius: 4px;
}

.item:hover {
 background-color: #878787;
}
h2.badge-style {
  display: inline-block;
  padding: 12px 24px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #000000;
  color: #e8e8e8;
  border-radius: 12px;
  margin-bottom: 10px;
}