<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div>
    <a href="/" class="logo">
      <img src="../assets/images/Rectangle 9.png" alt="">
    </a>
  </div>

  <nav class="header-nav ms-auto">
    <div id="login-oncf" class="nav-item">
      <a id="login-oncf" routerLink="/login">sign in</a>
    </div>
  </nav>

</header>

<div class="container-fluid">
  <div class="row">
    <!-- login form -->
    <div class="col-6 mt-5" id="div1">
      <h2 class="badge-style">SIGN UP FORM</h2>
      <!-- <label for="email">Email</label> -->
      <div class="container">


        <form [formGroup]="userForm">
          <input type="text" formControlName="firstname" name="firstname" [(ngModel)]="registerObj.firstname" placeholder="First name">
          <ul *ngIf="userForm.get('firstname')?.invalid && userForm.get('firstname')?.touched || userForm.get('firstname')?.dirty" style="color: red;">
            <li *ngIf="userForm.get('firstname')?.getError('required')" class="text-danger fw-bold" style="text-align: left;">This field is required</li>
            <li *ngIf="userForm.get('firstname')?.getError('minlength')" class="text-danger fw-bold" style="text-align: left;">This field is min 6 caracteres</li>
          </ul>
          <input type="text" formControlName="lastname" name="lastname" [(ngModel)]="registerObj.lastname" placeholder="Last name">
          <ul *ngIf="userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched || userForm.get('lastname')?.dirty" style="color: red;">
            <li *ngIf="userForm.get('lastname')?.getError('required')" class="text-danger fw-bold" style="text-align: left;">This field is required</li>
            <li *ngIf="userForm.get('lastname')?.getError('minlength')" class="text-danger fw-bold" style="text-align: left;">This field is min 6 caracteres</li>
          </ul>
          <input type="email" formControlName="email" name="email" [(ngModel)]="registerObj.email" placeholder="Email">
          <ul *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched || userForm.get('email')?.dirty" style="color: red;">
            <li *ngIf="userForm.get('email')?.getError('required')" class="text-danger fw-bold" style="text-align: left;">This field is required</li>
            <li *ngIf="userForm.get('email')?.getError('minlength')" class="text-danger fw-bold" style="text-align: left;">This field is min 6 caracteres</li>
          </ul>
          <!-- <label for="password">Password</label> -->
          <input type="password" formControlName="password"  name="password" [(ngModel)]="registerObj.password" placeholder="Password">
          <ul *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched || userForm.get('password')?.dirty" style="color: red;">
            <li *ngIf="userForm.get('password')?.getError('required')" class="text-danger fw-bold" style="text-align: left;">This field is required</li>
            <li *ngIf="userForm.get('password')?.getError('minlength')" class="text-danger fw-bold" style="text-align: left;">This field is min 6 caracteres</li>
          </ul>

          <input type="date" formControlName="birthDate" name="birthdate" [(ngModel)]="registerObj.birthdate">
          <ul *ngIf="userForm.get('birthDate')?.invalid && userForm.get('birthDate')?.touched || userForm.get('birthDate')?.dirty" style="color: red;">
            <li *ngIf="userForm.get('birthDate')?.getError('required')" class="text-danger fw-bold" style="text-align: left;">This field is required</li>
            <li *ngIf="userForm.get('birthDate')?.getError('minlength')" class="text-danger fw-bold" style="text-align: left;">This field is min 6 caracteres</li>
          </ul>

          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="gender" [(ngModel)]="registerObj.gender" id="btnradio1"
              autocomplete="off" (ngModelChange)="registerObj.gender='Male'">
            <label class="btn btn-outline-secondary" for="btnradio1">Male</label>

            <input type="radio" class="btn-check" name="gender" [(ngModel)]="registerObj.gender" id="btnradio2"
              autocomplete="off" (ngModelChange)="registerObj.gender='Female'">
            <label class="btn btn-outline-secondary" for="btnradio2">Female</label>
          </div>
                      <div *ngIf="errorMessage" class="alert alert-danger my-3 row col-sm-12 align-center">
                <div class="align-center" >{{ errorMessage }}</div>
            </div>

          <button (click)="onRegister()"  [disabled]="userForm.invalid" class="item btn btn-dark">Join Us<i class="bi bi-arrow-right"></i></button>
        </form>
      </div>
    </div>
    <!-- login photo -->
    <div class="col-6" id="">
      <img class="" style="object-fit: cover; object-position: right; width: 49vw; height: 100vh;"
        src="/../assets/images/Rectangle 11.png" alt="">
    </div>
  </div>
</div>
