<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">

        <div class="p-4 pt-5">
            <h5 class="logo"><b>Pole Voyageurs</b></h5>
        
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/dashboard"><b>RH Formation</b></a>
                    
                </li>
                <li class="active">
                    <a href="/dashboard"><h6>Formation et developement</h6></a>
                </li>
                <li class="active">
                    <a href="/dashboard"><h6>Gestion de carriere</h6></a>
                </li>
                <li class="active">
                    <a href="/dashboard"><h6>Remuneration</h6></a>
                </li>
                <li class="active">
                    <a href="/dashboard"><h6>S.M.S</h6></a>
                </li>
                <li class="active">
                    <a href="/dashboard"><h6>Stagaires militaires</h6></a>
                </li>
                <li class="active">
                    <a href="/dashboard"><h6>Securite</h6> </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<!-- Page Content  -->

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>