
#navbar{
  min-height: 10vh;
    color: #ffffff;
  justify-content: space-between;
}

#img-oncf{
  left: 20px;
  bottom: 10px;
  position: absolute;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back{
  min-height: 90vh;
  background-image: url("/../assets/images/Captureoncf\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login{
width: 220px;
height: 50px;
color: #fff;
background-color: #F0900A;
top: 13vh;
right: 17vw;
border-radius: 45.5px;
position: absolute;
font-weight: bold;
}

#register{
  width: 220px;
  height: 50px;
  background-color: #fff;
  color: black;
  top: 13vh;
  right: 35vw;
  border-radius: 45.5px;
  position: absolute;
  font-weight: bold;
}

#test {
  width: 200px;
  height: 40px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  top: 13vh;
  right: 65vw;
  border-radius: 45.5px;
  position: absolute;

}

h1{
  font-family: Inter, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 86px;
}
span{
  color: #F0900A;
}
