
#navbar{
  min-height: 10vh;
  justify-content: space-between;
}

#img-oncf{
  left: 20px;
  bottom: 10px;
  position: absolute;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back{
  min-height: 90vh;
  background-image: url("/../assets/images/Captureoncf\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login{
width: 150px;
color: #fff;
background-color: #F0900A;
height: 40px;
top: 80px;
left: 1100px;
border-radius: 45.5px;
position: absolute;
font-weight: bold;
}

#register{
  width: 150px;
  height: 40px;
  background-color: #fff;
  color: black;
  top: 80px;
  left: 940px;
  border-radius: 45.5px;
  position: absolute;
  font-weight: bold;
}

h1{
  font-family: Inter, Helvetica, sans-serif;
  font-weight: bold;
}
span{
  color: #F0900A;
}
