
  <div class="modal-body mt-3" style="width: 500px; margin: auto; ">
    <div class="card">
      <div class="card-header">Ajouter un employe:</div>
      <div class="card-body">
        <form (submit)="ajouterEmploye()">
          <div class="mb-2">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="lastname" [(ngModel)]="newEmploye.lastname" name="lastname"
              required />
          </div>
          <div class="mb-2">
            <label for="prenom" class="form-label">Prénom:</label>
            <input type="text" class="form-control" id="firstname" [(ngModel)]="newEmploye.firstname" name="firstname"
              required />
          </div>
          <div class="mb-2">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="newEmploye.email" name="email" required />
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">Date de naissance :</label>
            <input type="date" class="form-control" id="date_naissance" [(ngModel)]="newEmploye.date_naissance"
              name="date_naissance" required />
          </div>
          <div class="mb-2">
            <label for="password" class="form-label"> Performance:</label>
            <input type="text" class="form-control" id="performanceComment" [(ngModel)]="newEmploye.performanceComment"
              name="performanceComment" required />
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
    Close
  </button>
</div>